iframe {
  display: none;
}
.App {
  text-align: center;

}

.whole {
  display: flex;

  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}


.button {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  width: 20%;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;

  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin: 10px;
  box-shadow: 15px 15px 15px rgb(52, 93, 130);
}

.button:hover,
.button:focus {

  transform: translateY(1px);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(159, 195, 214, 0.626);
  box-shadow: 15px 15px 15px rgb(131, 195, 251);
}

button::after {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.weatherBlock {

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  gap: 7px 9px;
  width: 50%;
  grid-template-areas:
    ". ."
    ". .";
  gap: 2px;

  /* overflow: scroll; */
  font-size: 1vh;

  padding-top: 0.1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  margin: 0.5%;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.weatherNow {
  font-size: 14px;
  line-height: 30%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.imageOpac {
  opacity: 0.3
}

.weatherFSmall {
  font-size: 20px;
  height: 95%;
  width: 100%;
  text-align: center;
  line-height: 10%;
  padding: 5px;
  align-items: center;
  margin-top: 0%;
  margin-bottom: .5%;
  margin-left: 5%;
  margin-right: 100%;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.forecastContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.WeatherDetailedContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%
}


.wIcon {
  font-size: 40px;
  width: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sunny {
  background-image: url(./componants/images/SUNNY.webp);
  opacity: 0.1
}

@media screen and (max-width: 900px) {
  
  .weatherBlock {
    width: 80%;    
  }
  .weatherNow {
    font-size: 100%;
  }
  .forecastContainer{
    width: 100%;
  }
  .weatherFSmall {
    display: grid;
    font-size: 10px;
    line-height: 0px;
    height: 100%;
    
    width: 80%;
  }
}