iframe {
  display: none;
}
.App {
  text-align: center;

}

.whole {
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.weatherSearch {
  display: flex;
  flex-direction: row;
}
.weatherMain {
  display: grid;
  place-self: center;
  margin: auto;
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
  padding: 5px;
  text-align: left;
  
  ;
}
.weatherNowHL {
  display: block;
  margin: auto;
  text-align: center;
}

.popupClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  place-items: center;
  place-self: center;
  width: 100%;
  font-weight: 900;
  font-size: 120%;
  align-items: center;
  

}

.button {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  width: 20%;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin: 10px;
  margin-bottom: 5px;
  box-shadow: 15px 15px 15px rgb(52, 93, 130);
}

.button:hover,
.button:focus {

  transform: translateY(1px);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(159, 195, 214, 0.626);
  box-shadow: 15px 15px 15px rgb(131, 195, 251);
}

button::after {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.buttonSml {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  width: 10%;
  min-width: 80px;
  
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;  
  box-shadow: 15px 15px 15px rgb(52, 93, 130);
}

.buttonSml:hover,
.buttonSml:focus {

  transform: translateY(1px);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(159, 195, 214, 0.626);
  box-shadow: 15px 15px 15px rgb(131, 195, 251);
}

.buttonSml::after {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
  


.weatherBlock {
  display: block;
  width: 100%;
  padding-top: 0.1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  margin: 1%;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.weatherNow {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 110%;
  line-height: 90%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1px 5px;
}
.weatherNowWind {
  font-size: 90%;
}

.imageOpac {
  opacity: 0.3;
}
.smallText {
  font-size:0.5em;
  padding: 0px;
  margin: 0px;
}

.weatherDayGrid {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;   

}
.weatherFSmall {
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-column-gap: 5px;
grid-row-gap: 5px;
  font-size: 90%; 
  min-width: 250px;
  line-height: 50%;
  text-align: center;
  
  padding: 2px;
  align-items: center;
  
  margin-bottom: 5%;
  
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}
.dayWeatherInfo {
  text-align: left;
}
.weatherNext12 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90%;
  height: 95%;
  
  text-align: center;
  line-height: 10%;
  padding: 5px;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 100%;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}
.button2 {
  

  min-width: 120%;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  
  align-items: center;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin: 2px;
  
}

.button2:hover,
.button2:focus {

  transform: translateY(1px);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(159, 195, 214, 0.626);
  box-shadow: 15px 15px 15px rgb(47, 49, 50);
}

.button2::after {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}




.weatherButtons {
  margin: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80%;
  height: 95%;
  min-width: 100%;
  text-align: center;
  line-height: 100%;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;  
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}
.weatherButtons:hover,
.weatherButtons:focus {

  transform: translateY(1px);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(159, 195, 214, 0.626);
  box-shadow: 15px 15px 15px rgb(47, 49, 50);
}

.weatherButtons::after {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.forecastContainer {
  display: block;
  margin: auto;
  
  width: 120%;

} 




.WeatherDetailedContainer {
  
  width: 100%;
  height: 100%
}


.wIcon {
  font-size: 40px;
  width: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sunny {
  background-image: url(./componants/images/SUNNY.webp);
  opacity: 0.1
}





@media screen and (max-width: 720px) {
  .weatherMain {
    widows: 100%;
  }
  
  .weatherBlock {
    width: 100%;
  }
  
  .weatherFSmall {
    font-size: 50%;
    
  }
  .button2 {
    width: 100%;
  }
  .weatherFSmall {
    width: 90%
  }
  
  

}  
  